<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

	<footer th:fragment="footer" id="footer" class="footer text-center">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<img src="images/footer-logo.png" alt="footer logo"/>

					<div class="footer-social">
						<ul>
							<li><a href="https://www.facebook.com/arrepienteteypreparaelcamino"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/arrepienteteypreparaelcamino/"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://vimeo.com/user140572643"><i class="fa fa-youtube"></i></a></li>
							<li><a href="https://twitter.com/ArrepienteteRd"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div><!-- Footer social end -->

					<div class="footer-menu">
						<ul class="nav unstyled">
							<li><a href="/">Inicio</a></li>
							<li><a href="/recibetumilagro">Profeta David Owuor</a></li>
							<li><a href="/registroconferencia">Registro Conferencia</a></li>
							<li><a href="/preguntasfrecuentes">Preguntas Frecuentes</a></li>
						</ul>
					</div><!-- Footer menu end -->

					<div class="copyright-info">
						<span>© 2022 Ministerio de Arrepentimiento y Santidad. Todos los derechos reservados.</span>
					</div><!-- Copyright info end -->

				</div><!-- Content col end -->
			</div><!-- Content row end -->
		</div><!-- Container end -->

		<div class="footer-pattern"></div> <!-- Footer pattern image -->

	</footer><!-- Footer end -->
</body>