<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>

	<footer th:fragment="footer" id="footer" class="footer text-center">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<img src="images/footer-logo.png" alt="footer logo"/>

					<div class="footer-social">
						<ul>
							<li><a target="_blank" href="https://www.facebook.com/people/Minpaes/100070283044815/?mibextid=9R9pXO"><i class="fa fa-facebook"></i></a></li>
							<li><a target="_blank" href="https://instagram.com/minpaes?igshid=NzZlODBkYWE4Ng=="><i class="fa fa-instagram"></i></a></li>
							<li><a target="_blank" href="https://youtube.com/@ministerionacionesarrepent1182?si=c569aN18vchllmzu"><i class="fa fa-youtube"></i></a></li>
							<li><a target="_blank" href="https://x.com/minpaes?s=11"><i class="fa fa-twitter"></i></a></li>
						</ul>
					</div><!-- Footer social end -->

					<div class="footer-menu">
						<ul class="nav unstyled">
							<li><a href="/">Inicio</a></li>
							<li><a href="/recibetumilagro">Recibe Tú Milagro</a></li>
							<li><a href="/registroconferencia">Registro</a></li>
							<li><a href="/preguntasfrecuentes">Preguntas Frecuentes</a></li>
						</ul>
					</div><!-- Footer menu end -->

					<div class="copyright-info">
						<span>© 2023 Ministerio de Arrepentimiento y Santidad. Todos los derechos reservados.</span>
					</div><!-- Copyright info end -->

				</div><!-- Content col end -->
			</div><!-- Content row end -->
		</div><!-- Container end -->

		<div class="footer-pattern"></div> <!-- Footer pattern image -->

	</footer><!-- Footer end -->
</body>