<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" lang="en">

<head>

</head>

<body>

    <div layout:fragment="content" th:remove="tag">

        <div id="page-banner-area" class="page-banner-area" style="background-image:url(images/banner/banner1.jpg)">
            <!-- Subpage title start -->
            <div class="page-banner-title">
                <div class="text-center">
                    <h2>Profeta Dr. David Owuor</h2>
                </div>
            </div><!-- Subpage title end -->
        </div><!-- Banner end -->

        <section id="main-container" class="main-container">
            <div class="container">
                <div class="row">
                    <div class="ts-speaker-list clearfix">
                        <div class="col-xs-12 col-md-4">
                            <div class="ts-speaker-image">
                                <img class="img-responsive" src="images/speakers/speaker1.jpg" alt="" />
                            </div><!--Image end -->
                        </div><!-- Col end -->

                        <div class="col-xs-12 col-md-8">
                            <div class="ts-speaker-info">
                                <h3 class="ts-speaker-name">Dr. David Owuor</h3>
                                <p class="ts-speaker-designation">Profeta sel Señor</p>
                                <div class="ts-speaker-bio">
                                    <p>El Profeta Dr. David E. Owuor, del Ministerio de Arrepentimiento y Santidad Global era un Médico Científico Genetista Molecular de profesión, que fue llamado por el SEÑOR al oficio profético internacional en 2003, con un mandato específico del SEÑOR JESUCRISTO de preparar a su pueblo para su pronta venida.</p>
                                    <p>El Profeta del Señor, Dr. David Owuor, pronunció varias grandes Profecías que se cumplieron, que cambió el curso de los acontecimientos en el planeta Tierra, como la crisis financiera mundial (el caballo negro del Apocalipsis), en Agosto de 2008; el asteroide que se acercaba a la Tierra, profetizado el 9 de Febrero de 2009, anunciado en directo por la Radio Jesús es el Señor, Kenia.</p>
                                    <p>En las Cruzadas masivas en las que el Profeta del Señor, Dr. David Owuor, ha predicado, muchas señales y maravillas son manifestadas por el Señor incluyendo la aparición del arco iris, el derramamiento masivo del Espíritu Santo que alcanza a multitudes, trayendo liberación y sanidad a los cojos, y a los lisiados, los cánceres desaparecen, los ciegos ven, y muchos otros milagros suceden; el Señor está demostrando el Poder del Arrepentimiento y la Santidad en Cristo Jesús. El Profeta del Señor dirigió el Arrepentimiento Nacional de la nación de Kenia, donde la más alta autoridad en la nación, el Presidente de la República, estuvo presente.</p>
                                </div>
                                <div class="ts-speaker-session">
                                    <h4 class="session-title">Espíritu Santo, Milagros, Profecías Cumplidas, Señales y Sanidades</h4>
                                </div>
                            </div><!-- Info end -->
                        </div><!-- Col end -->
                    </div><!-- Speaker list 1 end -->
                </div><!-- Speaker row 1 -->


            </div><!-- Conatiner end -->
        </section><!-- Main container end -->

    </div>
</body>
</html>