<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" lang="en">

<head>

</head>

<body>

    <div layout:fragment="content" th:remove="tag">

        <div id="page-banner-area" class="page-banner-area" style="background-image:url(images/banner/banner1.jpg)">
            <!-- Subpage title start -->
            <div class="page-banner-title">
                <div class="text-center">
                    <h2>Recibe Tú Milagro</h2>
                </div>
            </div><!-- Subpage title end -->
        </div><!-- Banner end -->

        <section id="main-container" class="main-container">
            <div class="container">
                <div class="row">
                    <div class="ts-speaker-list clearfix">

                        <div class="col-xs-12 col-md-12">
                            <div class="ts-speaker-info">
                                <h3 class="ts-speaker-name">Recibe Tú Milagro</h3>
                                <p class="ts-speaker-designation">Programación</p>
                                <div class="ts-speaker-bio">
                                    <p>Te invitamos a nuestro evento que se llevará a cabo en el acogedor auditorio del colegio Melitón Carvajal el día 12 de Noviembre a las 05:30 p.m. Este encuentro promete una experiencia verdaderamente transformadora, donde experimentarás el poder del Espíritu Santo. Tendremos una palabra de poder que se compartirá durante nuestro evento, te inspirará y llenará de fe.</p>
                                    <p>Tendremos un tiempo de oración por sanidades y milagros, donde nos uniremos en ferviente oración, confiando en el poder de Dios. No importa cuáles sean tus necesidades, confiamos en que el Espíritu Santo obrará milagros en nuestras vidas en este lugar especial.</p>
                                    <p>Invitados especiales compartirán testimonios poderosos de cómo el poder del Espíritu Santo ha transformado sus vidas. Sus historias te inspirarán y te recordarán que, con la guía de Dios, podemos superar cualquier desafío.</p>
                                    <p>Como muestra de gratitud por tu asistencia, al final del evento, recibirás un regalo especial que simboliza la presencia constante del Espíritu Santo en tu vida. Este obsequio será un recordatorio constante de la gracia de Dios y de tu participación en este evento significativo. </p>
                                    <p>No puedes perderte esta oportunidad de fortalecer tu fe en el auditorio del colegio Melitón Carvajal. ¡Te esperamos con los brazos abiertos!</p>
                                </div>
                                <div class="ts-speaker-session">
                                    <h4 class="session-title">Espíritu Santo, Milagros, Profecías Cumplidas, Señales y Sanidades</h4>
                                </div>
                            </div><!-- Info end -->
                        </div><!-- Col end -->
                    </div><!-- Speaker list 1 end -->
                </div><!-- Speaker row 1 -->


            </div><!-- Conatiner end -->
        </section><!-- Main container end -->

    </div>
</body>
</html>