<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}" lang="en">

<head>

</head>

<body>

    <div layout:fragment="content" th:remove="tag">

        <div id="page-banner-area" class="page-banner-area" style="background-image:url(images/banner/banner1.jpg)">
            <!-- Subpage title start -->
            <div class="page-banner-title">
                <div class="text-center">
                    <h2>Recibe Tú Milagro</h2>
                </div>
            </div><!-- Subpage title end -->
        </div><!-- Banner end -->

        <section id="main-container" class="main-container">
            <div class="container">
                <div class="row">
                    <div class="ts-speaker-list clearfix">

                        <div class="col-xs-12 col-md-12">
                            <div class="ts-speaker-info">
                                <h3 class="ts-speaker-name">Recibe Tú Milagro</h3>
                                <p class="ts-speaker-designation">Programación</p>
                                <div class="ts-speaker-bio">
                                    <p>En proceso...</p>
                                </div>
                                <div class="ts-speaker-session">
                                    <h4 class="session-title">Espíritu Santo, Milagros, Profecías Cumplidas, Señales y Sanidades</h4>
                                </div>
                            </div><!-- Info end -->
                        </div><!-- Col end -->
                    </div><!-- Speaker list 1 end -->
                </div><!-- Speaker row 1 -->


            </div><!-- Conatiner end -->
        </section><!-- Main container end -->

    </div>
</body>
</html>